# Pandas

`pandas` is the Python library that structures and simplifies data manipulation and analysis. The name, pandas is derived by **pan**el and **da**ta. The library indeed focusses on representing data as tables (`DataFrames`), indices (`Index`) and data series (`Series`).

|  |  |  |  |
| --- | --- | --- | --- | 
|<img src="./assets/jnb021/Panda_Cub_from_Wolong,_Sichuan,_China.jpeg" alt="Drawing" style="width: 300px;"/> | <img src="./assets/jnb021/Panda_Cub_from_Wolong,_Sichuan,_China.jpeg" alt="Drawing" style="width: 300px;"/> | <img src="./assets/jnb021/Panda_Cub_from_Wolong,_Sichuan,_China.jpeg" alt="Drawing" style="width: 300px;"/> | <img src="./assets/jnb021/Panda_Cub_from_Wolong,_Sichuan,_China.jpeg" alt="Drawing" style="width: 300px;"/> |

`pandas` uses `NumPy` arrays to represent data. It provides specific functions to manipulated data as `code objects`. This means that to use pandas you need to import also NumPy. `pandas` requires and builds on top of `NumPy`.

There are three main data object types in pandas:

  - `Series` - A mutable, one-dimensional array of indexed data.
  - `DataFrames` - A two-dimensional, size-mutable, potentially heterogeneous tabulated data structure.
  - `Index` -  An one-dimensional, immutable array or ordered set (technically a multi-set, as Index objects may contain repeated values). Smallest initial step. Series make up the DataFrames.

Below we will learn a little bit more about these three data objects.

###### A short history of Pandas.
Wes McKinney started developing what then became pandas while working at the capital management firm Applied Quantitative Research (AQR). Pandas was developed initially as a closed-source project and was made open source in 2009. Pandas is sponsored by [NumFOCUS, Inc.](https://numfocus.org/) that promotes support and sponsorships of python based open source code.

In [2]:
import numpy as np
import pandas as pd

### The pandas `Series` object

`Series` are dictionary-like objects. Pandas Series is a one-dimensional array that comes with labels assigned. They similar to NumPy one-dimensional arrays but they are labeled or indexed. So they are built on top of NumPy arrays but come with additional functionality as well as constrains. They can be thought of as a specification of NumPy arrays. For example, let's evaluate the code below.

First we define a pandas Series objects and assign a set of string values to the elements of the object:

In [5]:
data = pd.Series(['a', 'b', 'c', 'd']) #are putting in a subject

After defining the object let's explore it.

In [6]:
print (data)

0    a
1    b
2    c
3    d
dtype: object

The data type is defined as `object`, the values we assigned are stored in the second column. The first column is the index automatically assigned by pandas to each value. Now, exch value comes with an index. This is a foundamental data organization aspect of pandas. Values always have indeces, because pandas deals with panel data, i.e., tables. So even a one-dimensional array as a Series is assigned indices just like a table is.

We will discuss pandas index objects later.

A Pandas Series can be created directly by assigning values into an array (using `[]`), and that array to a series (`pd.Series()`). Yet, the final produc of that series definition create something different than an Array. It creates a set of pairs of values where a label is associated to a corresponding value. 

Series are capable of holding data of any type (integer, string, float, python objects, etc.).  For example:

In [10]:
data = pd.Series(['string',10, np.nan,0.01]) #explicit index for PANDAS. 
print(data)

0    string
1        10
2       NaN
3      0.01
dtype: object

Once the Series object is created, the Index is created and it becomes part of the methods of the Series object. This means that the Index to the entries can be retrieved and used to address the corresponding entry. For example, we can call the `Index` as a method and it will return the range, with the min value, the max value and the steps in btween them:

In [17]:
data.index

RangeIndex(start=0, stop=4, step=1)

The index can be used to address the corresponding value in the Series object:

In [18]:
data[0:3]

0    string
1        10
2       NaN
dtype: object

Because the Index in pandas is explictly defined and it becomes a method (this is in contrast with NumPy arrays where indices are impliclty defined and hence not addressable or callable), the pandas Series object becomes much more useful and strctured.

For example, we can create a Series object by explictly assigning values and indices:

In [19]:
data1 = pd.Series(['string',10, np.nan,0.01],index=[0,3,2,4])

print(data1)

0    string
3        10
2       NaN
4      0.01
dtype: object

Even though `data` and `data1` might look the same, they are not. The indices are different:

In [20]:
print(data.index)
print(data1.index)

RangeIndex(start=0, stop=4, step=1)
Int64Index([0, 3, 2, 4], dtype='int64')

So, that, if we address the second entry in either object we will get different values:

In [21]:
print(data[3])
print(data1[3])

0.01
10

One way to think about pandas Series objects is that they are dictionaries where a label is paired to a value, say `label 1` is assigned to `value 1`, or `label 2` to `value 3` etc. Indeed, a pandas Series object can be constructed by hand building a dictionary a set of pairing of labels and values. 

For example, let's build a [Python dictionary](https://docs.python.org/3/tutorial/datastructures.html#dictionaries) of cognitive health. The dictionary pairs a label to a value:

In [24]:
cognitive_health = {'happyness':10,
                    'language': 2, 
                    'energy': 5, 
                    'memory': 3}

Note that python dictionaries have attributes (you can type `cognitive_health.` and press `tab` twice to get a list of attributes), yet the python dictionary does not have `index` as an attribute. 

The following line will return an error.

In [29]:
cognitive_health.values()

dict_values([10, 2, 5, 3])

In [30]:
cognitive_health.index #dictionary does not have explicit indexing (its implicit)

AttributeError: 'dict' object has no attribute 'index'

Python dictionaries can be used to set pandas Series directly:

In [31]:
cognitive_health_Series = pd.Series(cognitive_health)

The dictionary has been made into a panda Series and it is now ordered and labelled. So, the following operation will not return an error, but the labels of the Series (the indices):

In [32]:
cognitive_health_Series.index

Index(['happyness', 'language', 'energy', 'memory'], dtype='object')

Another important property that the pandas Series have and python dictionaries do not is the ability to allow slicing. Whereas, a dictionary would return an error if called as follows:

In [33]:
cognitive_health['happyness':'energy']

TypeError: unhashable type: 'slice'

A pandas Series do allow slicing:

In [34]:
cognitive_health_Series['happyness':'energy']

happyness    10
language      2
energy        5
dtype: int64

To summarize what we have learned about pandas Series:

 - They are ordered and labelled one-dimensional arrays.
 - They can be populated by assigning
  - values only (indeces are automatically assigned): `series = pd.Series(['a','b','c'])`
  - values and indices explicitly: `series = pd.Series(['a','b','c'],index = [1,3,2])`
  - python dictionaries directly: `dic = {1:'a',2:'b',3:'c'}`, `series = pd.Series(dic)` 
 - They always come with the property `index`

### Pandas `index` object

Let's briefly discuss the `index` object in pandas. 

An `Index` is the pandas object that hosts information redarding the ordering and labels of the arrays inside other objects such as `Series` and `DataFrames`.

Index objects also have many of the attributes familiar from NumPy arrays (e.g., shape, dimensions, size, etc):

In [35]:
ind = pd.Index([1, 2, 3, 4, 5])

print(ind.size, ind.shape, ind.ndim, ind.dtype)

print(ind)

5 (5,) 1 int64
Int64Index([1, 2, 3, 4, 5], dtype='int64')

Pandas `Index` objects are immutable.

An index is similar to a NumPy array, but it is immutable. This means that once an Index is defined the values inside the index cannot be changed.

Where arrays can be modified after definition, a pandas `index` cannot. Let's try this. Above we defined `ind` as a pandas `index` and set in the third position the value `3`. 

Let's try to change that value, evaluate the following operation in which we attempt to set the value `10` in the third position of `ind`:

In [36]:
ind[2] = 10

TypeError: Index does not support mutable operations

The error should return the following line at the end:

`TypeError: Index does not support mutable operations`

A pandas `Index` does not allow changes. This is helpful. One way to think about the index is that it is a specialized NumPy array. Specialized means that it has a more narrow scope than the more general goal of a NumPy array. The scope is that to define the (ahem) index of a data frame. Because of this scope (store an index) changes to the values of the array are not allowed, in other words the `Index` is immutable, or cannot be changed after definition by assiging a different value to any of its elements.

If we think about it, this makes sense. Changing a value inside an index of a data frame would change the definition of the data frame and really invalidating the purpuse of the index and of the data frame.

Pandas `Index` objects are designed to facilitate operations on the array and serve the task of keeping track of positions of data entries in the objects. 

They support and facilitiate operations such as joining datasets. Because of this the pandas index object follows many operations of the built in python datatype [`set`](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset).

Because of this the Index object allows many of operations also served by Python set data structure, such as unions, intersections, differences, and other combinations can be computed in a familiar way.

For example, two pandas index object can be united. This means that the unique indices are combined:

In [37]:
index1 = pd.Index([1, 2, 3, 4, 5])
index2 = pd.Index([1, 3, 4, 6, 20])

index1.union(index2)

Int64Index([1, 2, 3, 4, 5, 6, 20], dtype='int64')

Other logical operations can be performed using pandas index objects, for example intersection (find the common elements):

In [38]:
index1.intersection(index2)

Int64Index([1, 3, 4], dtype='int64')

In [51]:
mySeries = pd.Series([1,3,4,6,8,10])
mySeries[index1.intersection(index2)]

1    3
3    6
4    8
dtype: int64

In sum, pandas index objects allow performing slicing, indexing operations and facilitate keeping track of, ahem, the indices.

### Pandas `DataFrame` objects

Whereas pandas `Index` and `Series` objects are the backbone of the pandas library, the `DataFrame` object is the workhorse of the library. DataFrames have effectively made pandas the library for data science.

The DataFrame is an exstension of the Series object. It is a 2-dimensional, mutable array that it can be conceptualized as either a more general NumPy array, or a specialized Python dictionary. 

A DataFrame can be defined most simply by setting some values to it. The indexing and labelling is automatically assigned by pandas. For example, we can create a one-dimensional list and assign the values of the list to a DataFrame:

In [53]:
list = ['a','b','c','d']
data_frame1 = pd.DataFrame(list)
print(data_frame1) # explicitly defining for two dimensions.

   0
0  a
1  b
2  c
3  d

Even though the result might seem very similar to that obtained about with the Series object, in reality, the DataFrame object has assigned not one but two labels, one label for the rows dimension (`[0:3]`) and one for the column dimension (`0`).

Indeed, we can notice from the `print()` output that two dimensions were automatically labelled (indexed) with numbers. Whereas the Series is created as a one-dimensional object, the DataFrame is created as a two-dimensional object.

Another way to think about a DataFrame is that it is a sequence of *aligned* Series objects. What do we mean by that?

Each column in the DataFrame can be thought of as a Series. Each series is labelled by the column index. Importantley, the series are aligned, this means that the set of Series (the columns of the DataFrame) are indexed by a common `Index` object.

Let's take a look at all this.

Let's construct a new Series object similar to `cognitive_health_Series`, the object we created above (make sure that object is still in memeory, if needed re-run that section of the cells). Let's assume that that original series represented the data collected on a subject.

In [57]:
cognitive_health_Series

happyness    10
language      2
energy        5
memory        3
dtype: int64

The new Series will represent data on a second subject. To build the series we will use steps similar to the ones used above. We will first make a python dictionary and then make a pandas Series object out of it.

In [58]:
cognitive_health_subject2_dict = {'happyness': 15,
                                  'language': 4, 
                                  'energy': 9, 
                                  'memory': 6}
cognitive_health_subject2_series = pd.Series(cognitive_health_subject2_dict)
cognitive_health_subject2_series

happyness    15
language      4
energy        9
memory        6
dtype: int64

Now that we have two pandas Series, we can construct a pandas DataFrame by combining the two Series objects. 

To do so, we will first create a single dictionary containing the two series, labelled as `subject 1` and `subject 2` and then use that dictionary to make a DataFrame.

The dictionary for the DataFrame is formed by assigning each subject to a label:

In [59]:
dict = {'subject 1' : cognitive_health_Series, 'subject 2' : cognitive_health_subject2_series}
print(dict)

{'subject 1': happyness    10
language      2
energy        5
memory        3
dtype: int64, 'subject 2': happyness    15
language      4
energy        9
memory        6
dtype: int64}

The dictionary can now be used to build a DataFrame:

In [60]:
sample = pd.DataFrame(dict)
sample

           subject 1  subject 2
happyness         10         15
language           2          4
energy             5          9
memory             3          6

Excellent. Pandas did its Kung Fu. The dictionary comprising two pandas Series, was organized into a pandas DataFrame.

Next try adding two more subjects to the same DataFrame (`sample`). Let's practice this with a subject that has all values higher than subject 2 by a value of 3 (just add 3) and another subject that has all values lower than subject 2 by a value of 2 (just subtract 3).

In [61]:
cognitive_health_subject4_dict = {'happyness': 15-2,
                                  'language': 4-2, 
                                  'energy': 9-2, 
                                  'memory': 6-2}
cognitive_health_subject4_series = pd.Series(cognitive_health_subject4_dict)
cognitive_health_subject4_series

happyness    13
language      2
energy        7
memory        4
dtype: int64

In [45]:
cognitive_health_subject3_dict = {'happyness': 15+3,
                                  'language': 4+3, 
                                  'energy': 9+3, 
                                  'memory': 6+3}
cognitive_health_subject3_series = pd.Series(cognitive_health_subject3_dict)
cognitive_health_subject3_series

happyness    18
language      7
energy       12
memory        9
dtype: int64

In [66]:
dict = {'subject 1' : cognitive_health_Series, 
        'subject 2' : cognitive_health_subject2_series, 
        'subject 3' : cognitive_health_subject3_series,
        'subject 4' : cognitive_health_subject4_series,
       }
print(dict)

{'subject 1': happyness    10
language      2
energy        5
memory        3
dtype: int64, 'subject 2': happyness    15
language      4
energy        9
memory        6
dtype: int64, 'subject 3': happyness    18
language      7
energy       12
memory        9
dtype: int64, 'subject 4': happyness    13
language      2
energy        7
memory        4
dtype: int64}

In [67]:
sample = pd.DataFrame(dict)
sample

           subject 1  subject 2  subject 3  subject 4
happyness         10         15         18         13
language           2          4          7          2
energy             5          9         12          7
memory             3          6          9          4

The newly created DataFrame has various attributes that we can explore. We can address and extract the columns for example:

In [68]:
cols = sample.columns
print(cols)

Index(['subject 1', 'subject 2', 'subject 3', 'subject 4'], dtype='object')

We can address the rows, which in technical terms are called the labels or the index:

In [64]:
rows = sample.index
print(rows)

Index(['happyness', 'language', 'energy', 'memory'], dtype='object')

### Summary

We have learned about the library `pandas` and the three fundamental objects of the library:
 - Index
 - Series
 - DataFrames
 
 These last one are the most used, versatile data representation objects and are most commonly used for data science projects.
 
 Pandas DataFrames are 2-dimensional objects composed by collections of one-dimensional objects called Series. The one-dimensional objects in a DataFrame are `aligned` meaning that all entries of a series are matched, they are related, each row is indexed by the same index no matter what series.

### Exercise

To practice with pandas Series and DataFrames, build a new dataset that has 10 series (subject 1-10) representing measurements from the following measures of brain health:

`['neuronal activity', 'blood oxygenation', 'blood pulsation rate', 'cortical thickness']`

In [155]:
def create_dictionary():
    # initiating the dictionaries
    the_dictionary = {}
    the_ultimate_dictionary = {}

    for i in range(10):
        # update intitial dictonary with values.
        the_dictionary[i] = ({
                               'neuronal activity': np.random.randint(10),
                               'blood oxygenation': np.random.randint(10),
                               'blood pulsation rate': np.random.randint(10),
                               'cortical thickness':np.random.randint(10)
                              })
        # store it into ultimate dictionary that will store all the subjects.
        the_ultimate_dictionary.update({('Subject ' + str(i+1)) : the_dictionary[i]})
    #return the results
    return the_ultimate_dictionary

In [156]:
example_dict = create_dictionary()
print(example_dict)

{'Subject 1': {'neuronal activity': 1, 'blood oxygenation': 0, 'blood pulsation rate': 2, 'cortical thickness': 1}, 'Subject 2': {'neuronal activity': 8, 'blood oxygenation': 9, 'blood pulsation rate': 5, 'cortical thickness': 6}, 'Subject 3': {'neuronal activity': 5, 'blood oxygenation': 6, 'blood pulsation rate': 9, 'cortical thickness': 2}, 'Subject 4': {'neuronal activity': 1, 'blood oxygenation': 7, 'blood pulsation rate': 5, 'cortical thickness': 5}, 'Subject 5': {'neuronal activity': 7, 'blood oxygenation': 6, 'blood pulsation rate': 1, 'cortical thickness': 5}, 'Subject 6': {'neuronal activity': 3, 'blood oxygenation': 6, 'blood pulsation rate': 6, 'cortical thickness': 0}, 'Subject 7': {'neuronal activity': 3, 'blood oxygenation': 9, 'blood pulsation rate': 7, 'cortical thickness': 4}, 'Subject 8': {'neuronal activity': 4, 'blood oxygenation': 9, 'blood pulsation rate': 0, 'cortical thickness': 4}, 'Subject 9': {'neuronal activity': 8, 'blood oxygenation': 0, 'blood pulsation rate': 6, 'cortical thickness': 8}, 'Subject 10': {'neuronal activity': 0, 'blood oxygenation': 9, 'blood pulsation rate': 8, 'cortical thickness': 0}}

In [157]:
the_dataframe = pd.DataFrame(example_dict)

In [158]:
the_dataframe

,Subject 1,Subject 2,Subject 3,Subject 4,Subject 5,Subject 6,Subject 7,Subject 8,Subject 9,Subject 10
neuronal activity,1,8,5,1,7,3,3,4,8,0
blood oxygenation,0,9,6,7,6,6,9,9,0,9
blood pulsation rate,2,5,9,5,1,6,7,0,6,8
cortical thickness,1,6,2,5,5,0,4,4,8,0